<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<div class="container" id="page">
		<div id="chatlog"></div>
		<div>
			<form id="chat_form">
				<input type="text" name="message" id="box_message"></input>
				<input type="submit" value="Send" class="btn">
			</form>
		</div>
	</div>
</body>
</html>