<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{Title}}</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/main.css" rel="stylesheet">

	<!-- Connect to server socket -->
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<div class='top'>
		<h2 class='white'>{{Title}}</h2>
	</div>
	<div class='content'>
		<div class='left'>
			<h4 class='white'>Connected</h4>
			<ul id='connect'>
			</ul>
		</div>
		<div class='right' id="message-box">
		</div>
	</div>
	<div class='foot'>
		<form id="message">
			<input type="text" class="col-md-1" id="username" placeholder="username" maxlength="12">
			<input type="text" class="col-md-9" id="usermessage" placeholder="enter message">
			<input type="submit" value="send" hidden>
		</form>
	</div>

	<script type="text/javascript" src="js/chat.js"></script>
</body>
</html>
