<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{Title}}</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/main.css" rel="stylesheet">

	<!-- Connect to server socket -->
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<div class='top'>
		<h2 class='white'>{{Title}}</h2>
	</div>
	<div class='content'>
		<div class='left'>
			<h4 class='white'>Connected</h4>
		</div>
		<div class='right' id="message-box">
		</div>
	</div>
	<div class='foot'>
		<form id="message">
			<input type="text" class="col-md-1" id="username" placeholder="username" maxlength="12">
			<input type="text" class="col-md-9" id="usermessage" placeholder="enter message">
			<input type="submit" value="send" hidden>
		</form>
	</div>

	<script type="text/javascript">
	window.onload = init;
	var socketio = io.connect(window.location.hostname);
	
	socketio.on('Message_respond', function(data)
	{
		var message_box = document.getElementById('message-box');

		message_box.innerHTML = message_box.innerHTML + '<br>' + '<pre><b>' + data['user'] + ':</b> ' + '<p>' + data['message'] + '</p></pre>';

		message_box.scrollTop = message_box.scrollHeight;
	});

	function init()
	{
		var message = document.getElementById('message');

		message.onsubmit = message_form;
	}

	function message_form()
	{
		var username = document.getElementById('username').value,
			message = document.getElementById('usermessage').value;

		if(username != '')
		{
			if(message != '')
			{
				socketio.emit('Message_send',
				{
					'username': username,
					'message': message
				});
			}
			document.getElementById('usermessage').value = '';
		}

		else
			alert('You must set an username.');

		return false;
	}
	</script>	
</body>
</html>
